.aside {
  display: flex;
  @include BodyLight;

  &__icon {
    width: 2.563rem;
    height: 2.563rem; 
    margin-right: 0.438rem;
    fill: $black;
  }

  &__text {
    color: $black;
    font-size: 1rem;
    max-width: 7.125rem;
  }
}