.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 1.313rem 2.563rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: $white;

  &--theme--red {
    background: $red;

    &:hover {
      background: $red-btn;
    }
  }

  &--theme--transparent {
    @include Body2Regular;
    text-transform: none;
    color: $white;

    &:hover {
      color: $red-btn;
    }
  }
}