.contacts {

  &__tel {
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__icon-elem {
    width: 0.875rem;
    height: 0.875rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }

  &__text {
    font-style: normal;
    font-size: 1.125rem;
  }
}