.contacts {


  &__tel {
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: fill 0.5s;

    &:hover {
      fill: $red;
    }
  }

  &__icon {
    flex-shrink: 0;

  }

  &__icon-elem {
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(8px);
    margin-top: rem(8px);
  }

  &__icon-elem--color--white {
    fill: $white;
  }

  &__text {
    @include Body1Semibold-Regular;
    font-style: normal;
    transition: color 0.5s;

    &:hover {
      color: $red;
    }

  }

  &__text--color--black {
    color: $black;
  }
}