.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: $z-fixed-menu;

  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }

  &__item {
    margin-bottom: 0.5rem;
  }

  &__item--active {
    .fixed-menu__link {
      border-color: $red;
    }

    .fixed-menu__link::before {
      background: $red;
    }
  }

  &__link {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.063rem solid transparent;
    display: block;
    position: relative;

    &:hover {
      border-color: #E01F3D;
    }

    &::before {
      content: "";
      display: block;
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
      background: $black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}