.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white-background;

  @include phones {
    flex-direction: column;
  }

  &__text {
    @include Body2Semibold;
    color: $black-text;

    @include phones {
      margin-bottom: rem(12px);
    }
  }

  &__phone-number {
    @include Body1Semibold-Regular;
    color: $black-text;


    @include phones {
      justify-content: center;
      margin-bottom: rem(20px);
    }
  }

  &__col {
    display: flex;
    align-items: center;
  }

  &__contacts {
    padding: rem(20px) 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.16667rem;
    font-style: normal;
  }
}