.form {
  display: flex;
  @include Body1Semibold;
  color: $white;

  @include tablets {
    padding: 0 18%;
    flex-direction: column;
  }

  @include phones {
    padding: 0;
  }

  &__col {
    flex: 1;
    margin-right: 1.625rem;

    &:last-child {
      margin-right: 0;
    }

    @include tablets {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 0.875rem;
  }

  &__block {
    flex: 1;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }


  &__input {
    width: 100%;
    border: none;
    padding: 1.125rem 0.75rem 1.25rem;
    border: solid 0.188rem transparent;
    border-radius: 0.25rem;


    &--textarea {
      height: 10.5rem;
      resize: none;
      margin-bottom: 0.375rem;
    }

    &:focus {
      border-color: $red;
      outline: none;
    }

    @include tablets {
      padding: 0.5rem 0.625rem 0.5rem;

      &--textarea {
        height: 5.125rem;
      }
    }

    @include phones {
      height: 2.25rem;

      &--textarea {
        height: 5.125rem;
      }
    }
  }

  .input-error {
    border: solid 0.188rem red;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
      justify-content: center;
    }
  }

  &__btns {

    @include tablets {
      display: flex;
      justify-content: center;
    }

    @include phones {
      display: flex;
      justify-content: center;
    }
  }
}