.hamburger {
  display: none;

  @include tablets {
    position: absolute;
    top: 2.125rem;
    right: 5%;
    width: 1.5rem;
    height: 1.25rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    z-index: 15;
    transition: all .4s;
    display: inline-flex;
  }

  &__plank {
    width: 100%;
    border-radius: 0.625rem;
    background: $black;
    height: 0.25rem;
    top: 0;
    left: 0;
    position: absolute;
    transition: all .4s;

    &:nth-child(2) {
      top: 49%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
      top: initial;
    }
  }
}

.hamburger--active {
  .hamburger__plank {
    background: $white;

    &:nth-child(1) {
      opacity: 0;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translateY(-0.25rem) translateX(0.25rem);
    }
  }
}