.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__col {
    padding-top: rem(5px);
  }

}


.contacts__tel.header__phone-number {
  @include tablets {
    display: none;
  }
}