.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__col {
    padding-top: 0.313rem;
  }

  &__phone-number {
    @include Body1Semibold;
    color: $black;
    transition: 0.5s;

    &:hover {
      fill: $red;
      color: $red;
    }
  }
}

.contacts__tel.header__phone-number {
  @include tablets {
    display: none;
  }
}