.hero {
  background: $white-background;
  // background-size: cover;
  height: 100%;
  min-height: rem(652px);

  @include tablets {
    position: relative;
  }

  &__container {
    content: '';
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(24px) 0 rem(65px);
    background: url(./../../src/image/main/BeatsSolo3.png) right center/50% auto no-repeat;

    @include tablets {
      // background-size: 44% auto;
      // background-position: 50% 26%;
      background: url(./../../src/image/main/BeatsSolo3-768.png) 50% 26% no-repeat;
    }
    
    // @include phones {
    // }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background: #999999;
      height: rem(10px);
      width: rem(46px);
      right: 0.5%;
      top: 99.5%;
      transform: rotate(-45deg);
    }
  }

  &__title-section {
    width: 45%;

    @include tablets {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-bottom: 13%;
    }

    @include phones {
      margin-bottom: 0;
    }

  }

  &__icon-section {
    @include tablets {
      display: none;
    }
  }

  &__main-title {
    @include h1;
    color: $black;
    margin-bottom: rem(15px);
    text-transform: uppercase;
    max-width: rem(400px);
    text-shadow: 0 rem(4px) rem(4px) rgb(41, 41, 41, 0.25);

    @include tablets {
      max-width: rem(665px);
    }

    @include phones {
      font-size: rem(32px);
      line-height: rem(36px);
      padding: 0% 15%;
    }
  }

  &__title-text {
    @include Body1Semibold;
    font-size: rem(21px);
    margin-bottom: rem(39px);
    font-size: rem(21px);
    line-height: rem(25px);
    max-width: rem(382px);

    @include tablets {
      max-width: rem(451px);
      padding: 0;
    }

    @include phones {
      padding: 0 14%;
      font-size: rem(18px);
    }
  }

  &__pic {
    height: 100%;
    width: 100%;
  }

}