.products-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;

  @include phones {
    width: 100%;
    justify-content: flex-end;
  }

  &__item {
    height: 100%;
    display: flex;
  }

  &__title {
    display: flex;
    width: 6.375rem;
    justify-content: center;
    align-items: flex-end;

    @include phones {
      width: 5.625rem;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.688rem;
    color: $white;
    transform: rotate(-90deg) translateX(55%) translateY(-8%);
    white-space: nowrap;
  }

  &__content {
    background: rgba(51, 53, 55, 0.9);
    max-width: 0;
    position: relative;
    overflow: hidden;
    transition: max-width .7s;
    z-index: -1;
  }

  &__container {
    padding: 1.875rem 5rem 2.75rem 2.375rem;
    @include Body1Semibold;
    overflow-y: auto;
    min-width: 30rem;

    @include tablets {
      min-width: calc(100vw - 30rem);
      padding-right: 1.563rem;
    }

    @include phones {
      min-width: calc(100vw - 8rem);
    }
  }
}

.products-active>.products-menu__content {
  max-width: 27.125rem;

  @include tablets {
    width: calc(100vw - 16.9rem);
  }

  @include phones {
    width: calc(100vw - 5rem);
    z-index: 2;
  }
}

.products-active {
  @include phones {
    position: absolute;
  }
}

li.products-menu__item.products-active {
  width: 100%;
}