.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  padding: 0.625rem;

  @include phones {
    align-items: center;
  }

  &--checkbox {
    .radio__visible {
      border-radius: 0.25rem;

      &::before {
        background: url("./../../../src/image/form/checkmark.svg") center center no-repeat;
      }
    }

    @include phones {
      margin-bottom: 1.625rem;
    }
  }

  &__elem {
    display: none;
    border-radius: 0.313rem;

    &:checked~.radio__visible {
      &::before {
        display: block;
      }
    }
  }

  &__visible {
    width: 1.625rem;
    height: 1.625rem;
    position: relative;
    border-radius: 50%;
    background-color: $white;
    margin-right: 0.313rem;

    &::before {
      content: "";
      width: 0.875rem;
      height: 0.875rem;
      background: $red;
      border-radius: 50%;
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title--margin--bottom {
    margin-bottom: 2.875rem;

    @include phones {
      margin-bottom: 0;
    }
  }
}