.reviews {

  &__display {
    margin-bottom: 0.938rem ;

    @include tablets {
      margin-bottom: 2rem ;
    }
  }

  &__list {
    position: relative;
    padding: 2.625rem ;
    min-height: 21.75rem ;
    background-color: $white-r;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      width: 5rem;
      height: 5rem;
      background: #cd1f1f;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -3.61111rem;
    }

    @include phones {
      padding: 3.5rem  1.875rem  1.875rem ;
    }
  }

  &__item {
    position: absolute;
    display: flex;
    pointer-events: none;
    opacity: 0;
    top: 2.625rem ;
    right: 0;
    bottom: 0;
    left: 2.625rem;

    @include tablets {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  &__item.reviews__item--active {
    position: static;
    opacity: 1;
    pointer-events: unset;
  }

  &__avatar {
    width: 15.875rem ;
    height: 16.5rem ;

    @include tablets {
      width: 8.125rem ;
      height: 8.125rem ;
      margin-bottom: 2rem ;
    }
  }

  &__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    flex: 1;
    margin-left: 2.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include tablets {
      margin-left: 0;
      align-items: center;
    }

    @include phones {
      margin-left: 0;
      align-items: center;
    }
  }

  &__title {
    @include h3;
    margin-bottom: 0.875rem ;

    @include phones {
      font-size: 1.688rem ;
      padding: 0 6.25rem ;
    }
  }

  &__text {
    @include Body1Semibold;
    color: $grey;
    width: 28.75rem ;
    margin-bottom: 1.625rem ;

    @include tablets {
      width: 99%;
    }
    
    @include phones {
      width: 99%;
    }

  }

  &__author {
    @include Body1Semibold;
  }

  &__switcher {
    display: flex;
    align-items: center;
    justify-content: center;

      @include tablets {
        top: 98.6%;
      }
    }


  &__switcher-item {
    box-sizing: border-box;
    width: 4.625rem ;
    height: 4.625rem ;
    border: 0.25rem  solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-right: 0.125rem ;

    &--active,
    &:hover {
      border-color: $red;
    }
  }

  &__switcher-item.reviews__item--active {
    border-color: $red;
  }

  &__switcher-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}