.section {

  &__title {
    @include h2;
    font-size: 3rem;
    margin-bottom: 3.75rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__title--white {
    color: $white;

    @include phones {
      margin-bottom: 2.5rem;
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }

  &__title-team {
    margin-bottom: 3.75rem;
  }

  &__title-reviews {

    @include phones {
      margin-bottom: 1.625rem;
      font-size: 2.5rem;
      line-height: 2.25rem;
    }
  }
}