.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    height: 1.938rem;
    width: 1.938rem;
    right: 1%;
    top: 99.5%;
    transform: rotate(29deg);
  }

  @include tablets {
    justify-content: center;
  }
}