.team {
  display: flex;
  justify-content: space-between;

  @include tablets {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
  }

  &__content--active {
    height: rem(50px);

    @include tablets {
      height: rem(340px);
      margin-bottom: rem(30px);
    }

    @include phones {
      margin-bottom: rem(30px);
    }
  }

  &__item {
    text-align: center;
    align-items: center;
    margin-right: rem(20px);
    max-width: rem(454px);

    @include tablets {
      flex: initial;
      margin-right: 0;
      height: auto;
    }

    @include phones {
      height: auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  
  &__member {
    margin-bottom: rem(22px);
    
    @include tablets {
      padding-top: rem(15px);
    }
    
    @include phones {
      max-width: rem(126px);
      left: 30%;
      position: relative;
      margin: 0;
    }
  }

  
  &__title {
    color: $black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(11px);
    
    @include tablets {
      margin-bottom: 0;
    }
    
    @include phones {
      margin-bottom: 0;
    }
  }
  
  &__name {
    @include Body2Bold;
    font-size: rem(20px);
    cursor: pointer;
    
    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-left: rem(3px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: rem(7px) rem(4.5px) 0px rem(4.5px);
      border-color: #e01f3c transparent transparent transparent;
      transition: transform .3s;
    }    
  }

  &__item.team__content--active {
    .team__name::after {
      transform: rotate(180deg);
    }
  }
  
  &__content {
    max-width: rem(222px);
    overflow: hidden;
    transition: height .3s;
    height: 0;
    position: absolute;

    @include tablets {
      max-width: rem(228px);
      height: 0;
      position: relative;
    }

    @include tablets {
      max-width: rem(316px);
    }
  }

  &__profession {
    @include Body2Regular;
    color: #000000;
    margin-bottom: rem(4px);

    @include tablets {
      @include Body2Bold;
    }

    @include phones {
      margin-top: rem(8px);
    }
  }

  &__description {
    @include BodyLight;
  }
}

.team--version--desktop {
  @include tablets {
    display: none;
  }
}

// .team--version--desktop .team__content {
//   margin-top: 1%;
// }

.team--version--mobile {
  display: none;

  @include tablets {
    display: flex;
  }
}

.team--version--mobile .team__item {
  margin-bottom: rem(16px);
}