@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Play", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body--active-menu {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper__main {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-radius: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

btn {
  background: transparent;
  border: none;
}

.hero {
  background: #F5F5F5;
  background-size: cover;
  height: 100%;
  min-height: 36.2222222222rem;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  background: #999999;
  height: 0.5555555556rem;
  width: 2.5555555556rem;
  right: 23%;
  top: 99.5%;
  transform: rotate(-45deg);
}
@media screen and (max-width: 768px) {
  .hero {
    position: relative;
  }
  .hero:before {
    content: "";
    width: 100%;
    height: 5.1111111111rem;
    min-width: 20rem;
    top: 0;
    background-color: #FFFFFF;
    display: flex;
    position: absolute;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 3.6111111111rem;
  background: url(../../../src/image/main/BeatsSolo3.png) right center/50% auto no-repeat;
}
.hero__title-section {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}
.hero__main-title {
  color: #000000;
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 2.8888888889rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
  width: 22.2222222222rem;
  text-shadow: 0 4px 4px rgba(41, 41, 41, 0.25);
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}
.hero__title-text {
  color: #000000;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  font-size: 1.1666666667rem;
  margin-bottom: 2.1666666667rem;
  font-size: 21px;
  line-height: 25px;
  max-width: 21.2222222222rem;
}
@media screen and (max-width: 768px) {
  .hero__title-text {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-text {
    padding: 0 14%;
    font-size: 1rem;
  }
}
.hero__pic {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header__col {
  padding-top: 0.2777777778rem;
}

@media screen and (max-width: 768px) {
  .contacts__tel.header__phone-number {
    display: none;
  }
}

.asides {
  display: flex;
}
.asides__item {
  margin-right: 2.2222222222rem;
}
.asides__item:last-child {
  margin-right: 0;
}

.aside {
  display: flex;
  color: #000000;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  font-style: normal;
}
.aside__icon {
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  margin-right: 0.3888888889rem;
  fill: #292929;
}
.aside__text {
  color: #292929;
  font-size: 0.8888888889rem;
  max-width: 6.3333333333rem;
}

.menu {
  margin: 0 1.6666666667rem;
  padding-top: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__item {
  margin-right: 1.2222222222rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 1rem;
  line-height: 1.6666666667rem;
  color: #292929;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.6s;
}
.menu__link:hover {
  color: #E01F3D;
}

@media screen and (max-width: 768px) {
  .menu--768 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu--768 .menu__list {
  flex-direction: column;
}

.menu--768 .menu__item {
  margin-right: 0;
  margin-bottom: 0.2777777778rem;
}

.menu--768 .menu__link {
  font-size: 2rem;
  line-height: 4rem;
}

.contacts__tel {
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: fill 0.5s;
}
.contacts__tel:hover {
  fill: #E01F3D;
}
.contacts__icon {
  flex-shrink: 0;
}
.contacts__icon-elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.4444444444rem;
  margin-top: 0.4444444444rem;
}
.contacts__icon-elem--color--white {
  fill: #FFFFFF;
}
.contacts__text {
  color: #000000;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  font-style: normal;
  transition: color 0.5s;
}
.contacts__text:hover {
  color: #E01F3D;
}
.contacts__text--color--black {
  color: #292929;
}

.logo {
  vertical-align: middle;
}
.logo__img {
  margin-right: 0;
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  fill: #E01F3D;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header__col {
  padding-top: 0.2777777778rem;
}

@media screen and (max-width: 768px) {
  .contacts__tel.header__phone-number {
    display: none;
  }
}

.container {
  width: 95%;
  max-width: 915px;
  margin: 0 auto;
  position: relative;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
}
.btn--theme--red {
  background: #E01F3D;
}
.btn--theme--red:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  color: #000000;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  text-transform: none;
  color: #E01F3D;
}
.btn--theme--transparent:hover {
  color: #CA1B36;
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__title {
  color: #000000;
  font-size: 1.3333333333rem;
  font-weight: 700;
  line-height: 1.5555555556rem;
  font-size: 2.6666666667rem;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
}
.section__title--white {
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .section__title--white {
    margin-bottom: 2.2222222222rem;
    font-size: 2.2222222222rem;
    line-height: 2.2222222222rem;
  }
}
.section__title-team {
  margin-bottom: 3.3333333333rem;
}
@media screen and (max-width: 480px) {
  .section__title-reviews {
    margin-bottom: 1.4444444444rem;
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}

.headline {
  text-align: center;
  background-color: #FFFFFF;
}
.headline__title {
  margin-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
    margin-bottom: 0.4444444444rem;
  }
}
.headline__subtitle {
  color: #000000;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  color: #666666;
  padding: 0 30%;
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    font-size: 1rem;
    line-height: 1.2222222222rem;
    padding: 0 5%;
    margin-bottom: 3rem;
  }
}
.headline::after {
  content: "";
  display: block;
  position: absolute;
  left: 4%;
  top: 148%;
  transform: rotate(-14deg);
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 38px solid #E01F3D;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__image {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 0.6666666667rem;
  }
}
.benefit__title {
  color: #000000;
  font-size: 1.3333333333rem;
  font-weight: 700;
  line-height: 1.5555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5555555556rem;
  }
}
.benefit__desc {
  color: #666666;
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1rem;
  }
}
.benefits__item:before {
  content: url("./../../src/image/section/combined-shape.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.4444444444rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #292929;
}
.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu__item--shadowed .fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--shadowed .fixed-menu__link::before {
  background: #E01F3D;
}/*# sourceMappingURL=main.css.map */