$containerWidth: 59.875rem;
$baseFontSize: 1.125rem;

//breakpoints

$tablets: 48rem;
$phones: 30rem;

//mixin

@mixin h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

@mixin h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.25rem;
}

@mixin h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;
}

@mixin Body2Bold {
  font-size: $baseFontSize;
  font-weight: bold;
  line-height: 1.375rem;
}

@mixin Body2Semibold {
  font-size: $baseFontSize;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin Body2Regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.188rem;
}

@mixin Body1Semibold {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin Body1Regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin BodyLight {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-style: normal;
  color: rgba(102, 102, 102, 1);
}

//media

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

// colors

$red: #E01F3D;
$grey: #666666;
$black: #292929;
$white: #FFFFFF;
$red-btn: #CA1B36;
$white-background: #F5F5F5;
$grey-a: #C4C4C4;
$white-r: #F8FAF9;
$black-background: #181818;
$grey-parameters: #9A9A9A;

//z-indexs

$z-fixed-menu: 100;

//setup

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

// components

@import "./components/*";
@import "./layout/*";
