@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Play", "Alegreya Sans", Helvetica, sans-serif;
  color: #292929;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

section {
  height: 100%;
}

.body--active-menu {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__main {
  min-height: 100%;
  transition: transform 1s;
  will-change: transform;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-radius: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  transition: 0.3s;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 915px;
  height: 100%;
  position: relative;
}

.hero {
  background: #F5F5F5;
  height: 100%;
  min-height: 36.2222222222rem;
}
@media screen and (max-width: 768px) {
  .hero {
    position: relative;
  }
}
.hero__container {
  content: "";
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.3333333333rem 0 3.6111111111rem;
  background: url(./../../src/image/main/BeatsSolo3.png) right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: url(./../../src/image/main/BeatsSolo3-768.png) 50% 26% no-repeat;
  }
}
.hero__container::after {
  content: "";
  display: block;
  position: absolute;
  background: #999999;
  height: 0.5555555556rem;
  width: 2.5555555556rem;
  right: 0.5%;
  top: 99.5%;
  transform: rotate(-45deg);
}
.hero__title-section {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 13%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}
.hero__main-title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
  max-width: 22.2222222222rem;
  text-shadow: 0 0.2222222222rem 0.2222222222rem rgba(41, 41, 41, 0.25);
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    max-width: 36.9444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 1.7777777778rem;
    line-height: 2rem;
    padding: 0% 15%;
  }
}
.hero__title-text {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  font-size: 1.1666666667rem;
  margin-bottom: 2.1666666667rem;
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
  max-width: 21.2222222222rem;
}
@media screen and (max-width: 768px) {
  .hero__title-text {
    max-width: 25.0555555556rem;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-text {
    padding: 0 14%;
    font-size: 1rem;
  }
}
.hero__pic {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header__col {
  padding-top: 0.2777777778rem;
}
.header__phone-number {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #292929;
  transition: 0.5s;
}
.header__phone-number:hover {
  fill: #E01F3D;
  color: #E01F3D;
}

@media screen and (max-width: 768px) {
  .contacts__tel.header__phone-number {
    display: none;
  }
}

.asides {
  display: flex;
}
.asides__item {
  margin-right: 2.2222222222rem;
}
.asides__item:last-child {
  margin-right: 0;
}

.aside {
  display: flex;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  font-style: normal;
  color: rgb(102, 102, 102);
}
.aside__icon {
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  margin-right: 0.3888888889rem;
  fill: #292929;
}
.aside__text {
  color: #292929;
  font-size: 0.8888888889rem;
  max-width: 6.3333333333rem;
}

.menu {
  padding-top: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__item {
  margin-right: 1.5rem;
  margin-bottom: 0.5555555556rem;
  font-family: "Alegreya Sans";
  letter-spacing: 0;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 1rem;
  line-height: 1.6666666667rem;
  color: #292929;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.6s;
}
.menu__link:hover {
  color: #E01F3D;
}

@media screen and (max-width: 768px) {
  .menu--768 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu--768 .menu__list {
  flex-direction: column;
}

.menu--768 .menu__item {
  margin-right: 0;
  margin-bottom: 0.2777777778rem;
}

.menu--768 .menu__link {
  font-size: 2rem;
  line-height: 4rem;
  color: #FFFFFF;
}

.contacts__tel {
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.contacts__icon {
  flex-shrink: 0;
}
.contacts__icon-elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.4444444444rem;
  margin-top: 0.4444444444rem;
}
.contacts__text {
  font-style: normal;
  font-size: 1rem;
}

.logo {
  margin-right: -20px;
  vertical-align: middle;
}
.logo__img {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  fill: #E01F3D;
  flex-shrink: 0;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header__col {
  padding-top: 0.2777777778rem;
}
.header__phone-number {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #292929;
  transition: 0.5s;
}
.header__phone-number:hover {
  fill: #E01F3D;
  color: #E01F3D;
}

@media screen and (max-width: 768px) {
  .contacts__tel.header__phone-number {
    display: none;
  }
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
}
.btn--theme--red {
  background: #E01F3D;
}
.btn--theme--red:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.0555555556rem;
  text-transform: none;
  color: #FFFFFF;
}
.btn--theme--transparent:hover {
  color: #CA1B36;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  line-height: 2.8888888889rem;
  font-size: 2.6666666667rem;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
}
.section__title--white {
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .section__title--white {
    margin-bottom: 2.2222222222rem;
    font-size: 2.2222222222rem;
    line-height: 2.2222222222rem;
  }
}
.section__title-team {
  margin-bottom: 3.3333333333rem;
}
@media screen and (max-width: 480px) {
  .section__title-reviews {
    margin-bottom: 1.4444444444rem;
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}

.headline {
  text-align: center;
  background-color: #FFFFFF;
}
.headline__title {
  margin-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
    margin-bottom: 0.4444444444rem;
  }
}
.headline__subtitle {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.0555555556rem;
  color: #666666;
  padding: 0 20%;
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    font-size: 1rem;
    line-height: 1.2222222222rem;
    padding: 0 5%;
    margin-bottom: 3rem;
  }
}
.headline::after {
  content: "";
  display: block;
  position: absolute;
  left: 4%;
  top: 98%;
  transform: rotate(-14deg);
  width: 0;
  height: 0;
  border-left: 1.2222222222rem solid transparent;
  border-right: 1.2222222222rem solid transparent;
  border-bottom: 2.1111111111rem solid #E01F3D;
}
.headline__decor {
  position: absolute;
  bottom: -3%;
  right: 4%;
  transform: rotate(-20deg);
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__image {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 0.6666666667rem;
  }
}
.benefit__title {
  font-size: 1.3333333333rem;
  font-weight: bold;
  line-height: 1.5555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5555555556rem;
  }
}
.benefit__desc {
  color: #666666;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  font-style: normal;
  color: rgb(102, 102, 102);
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1rem;
  }
}
.benefits__item:before {
  content: url("./../../src/image/section/combined-shape.png");
  position: absolute;
  top: 16%;
  right: 0.2777777778rem;
  transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.reviews__display {
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    margin-bottom: 1.7777777778rem;
  }
}
.reviews__list {
  position: relative;
  padding: 2.3333333333rem;
  min-height: 19.3333333333rem;
  background-color: #F8FAF9;
  overflow: hidden;
}
.reviews__list:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #cd1f1f;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.61111rem;
}
@media screen and (max-width: 480px) {
  .reviews__list {
    padding: 3.1111111111rem 1.6666666667rem 1.6666666667rem;
  }
}
.reviews__item {
  position: absolute;
  display: flex;
  pointer-events: none;
  opacity: 0;
  top: 2.3333333333rem;
  right: 0;
  bottom: 0;
  left: 2.3333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__item {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.reviews__item.reviews__item--active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}
.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.7777777778rem;
  }
}
.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  flex: 1;
  margin-left: 2.2222222222rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
    align-items: center;
  }
}
.reviews__title {
  font-size: 1.3333333333rem;
  font-weight: bold;
  line-height: 1.5555555556rem;
  margin-bottom: 0.7777777778rem;
}
@media screen and (max-width: 480px) {
  .reviews__title {
    font-size: 1.5rem;
    padding: 0 5.5555555556rem;
  }
}
.reviews__text {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #666666;
  width: 25.5555555556rem;
  margin-bottom: 1.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    width: 99%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    width: 99%;
  }
}
.reviews__author {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
}
.reviews__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__switcher {
    top: 98.6%;
  }
}
.reviews__switcher-item {
  box-sizing: border-box;
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-right: 0.1111111111rem;
}
.reviews__switcher-item--active, .reviews__switcher-item:hover {
  border-color: #E01F3D;
}
.reviews__switcher-item.reviews__item--active {
  border-color: #E01F3D;
}
.reviews__switcher-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: flex;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 18%;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  flex: 1;
  margin-right: 1.4444444444rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: 0.7777777778rem;
}
.form__block {
  flex: 1;
  margin-right: 0.8888888889rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem 1.1111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
.form__input--textarea {
  height: 9.3333333333rem;
  resize: none;
  margin-bottom: 0.3333333333rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem 0.4444444444rem;
  }
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input {
    height: 2rem;
  }
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
.form .input-error {
  border: solid 0.1666666667rem red;
}
.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .radio {
    align-items: center;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible::before {
  background: url("./../../../src/image/form/checkmark.svg") center center no-repeat;
}
@media screen and (max-width: 480px) {
  .radio--checkbox {
    margin-bottom: 1.4444444444rem;
  }
}
.radio__elem {
  display: none;
  border-radius: 0.2777777778rem;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-right: 0.2777777778rem;
}
.radio__visible::before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio__title--margin--bottom {
  margin-bottom: 2.5555555556rem;
}
@media screen and (max-width: 480px) {
  .radio__title--margin--bottom {
    margin-bottom: 0;
  }
}

.section-form {
  background: url("./../../../src/image/form/formbg.png") center bottom no-repeat;
  background-size: cover;
  background-color: #181818;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.4444444444rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu__item--shadowed .fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--shadowed .fixed-menu__link::before {
  background: #E01F3D;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    position: absolute;
    top: 1.8888888889rem;
    right: 5%;
    width: 1.3333333333rem;
    height: 1.1111111111rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    z-index: 15;
    transition: all 0.4s;
    display: inline-flex;
  }
}
.hamburger__plank {
  width: 100%;
  border-radius: 0.5555555556rem;
  background: #292929;
  height: 0.2222222222rem;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 0.4s;
}
.hamburger__plank:nth-child(2) {
  top: 49%;
  transform: translateY(-50%);
}
.hamburger__plank:nth-child(3) {
  bottom: 0;
  top: initial;
}

.hamburger--active .hamburger__plank {
  background: #FFFFFF;
}
.hamburger--active .hamburger__plank:nth-child(1) {
  opacity: 0;
}
.hamburger--active .hamburger__plank:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger--active .hamburger__plank:nth-child(3) {
  transform: rotate(-45deg) translateY(-0.2222222222rem) translateX(0.2222222222rem);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F5F5F5;
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}
.footer__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .footer__text {
    margin-bottom: 0.6666666667rem;
  }
}
.footer__phone-number {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .footer__phone-number {
    justify-content: center;
    margin-bottom: 1.1111111111rem;
  }
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__contacts {
  padding: 1.1111111111rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.16667rem;
  font-style: normal;
}

.socials {
  cursor: pointer;
}
.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5555555556rem;
}
.socials__link {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #666666;
}
.socials__link:hover {
  fill: #292929;
}

.overlay {
  display: none;
  z-index: -9000;
}
@media screen and (max-width: 768px) {
  .overlay {
    height: 100%;
    width: 100%;
    background-color: #333537;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    position: fixed;
    top: 0;
    left: 100%;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.overlay--active {
  left: 0;
  opacity: 1;
  z-index: 10;
}

.section-slider {
  background-color: #F8FAF9;
}

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.slider-container .bx-wrapper {
  border: 0;
  background: transparent;
  box-shadow: none;
}
.slider-container::after {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  height: 1.7222222222rem;
  width: 1.7222222222rem;
  right: 1%;
  top: 99.5%;
  transform: rotate(29deg);
}
@media screen and (max-width: 768px) {
  .slider-container {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    padding: 0;
  }
}
.slider__wrapper {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.slider__img {
  width: 48%;
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .slider__img {
    width: 17rem;
    height: 17rem;
    margin: 0;
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 480px) {
  .slider__img {
    width: 17rem;
    height: 17rem;
    margin-right: 0;
    margin-bottom: 5%;
  }
}
.slider__items {
  width: 44%;
}
@media screen and (max-width: 768px) {
  .slider__items {
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .slider__items {
    width: 81%;
  }
}
.slider__dropdown {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-color: #9A9A9A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  margin-bottom: 2.8888888889rem;
  position: relative;
}
.slider__dropdown:hover .slider__description {
  max-height: 100vh;
}
@media screen and (max-width: 768px) {
  .slider__dropdown {
    display: none;
  }
}
.slider__parameters-icon {
  fill: #FFFFFF;
  width: 2.3333333333rem;
  height: 2.3333333333rem;
}
.slider__benefits {
  width: 20.7777777778rem;
  height: auto;
}
@media screen and (max-width: 768px) {
  .slider__benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.slider__benefits-text {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.0555555556rem;
  color: #666666;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slider__benefits-text {
    width: 140%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .slider__benefits-text {
    width: 108%;
    text-align: center;
  }
}
.slider__title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slider__title {
    font-size: 1.6666666667rem;
    text-align: center;
    margin: 0;
  }
}
.slider__options {
  display: flex;
  text-align: left;
  width: auto;
  height: 60px;
  align-items: center;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slider__options {
    justify-content: space-between;
    width: 66%;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .slider__options {
    justify-content: space-between;
    width: 66%;
    margin: 0;
  }
}
.slider__options-price {
  display: flex;
  text-align: left;
  width: auto;
  height: 60px;
  align-items: center;
  margin-bottom: 1.3333333333rem;
  justify-content: space-between;
}
.slider__option {
  margin-right: 6.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .slider__option {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .slider__option {
    margin: 0;
  }
}
.slider__price {
  font-size: 2rem;
  margin-right: 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .slider__price {
    margin-left: 0.5555555556rem;
  }
}
.slider__option-size {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.0555555556rem;
  color: #292929;
}
.slider__size {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2222222222rem;
}
.slider__description {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  top: 0;
  left: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.slider__dropdown-list {
  color: #292929;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5555555556rem;
}
.slider__dropdown-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 13.6666666667rem;
  height: 2.4444444444rem;
}
.slider__dropdown-icon {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  margin-left: 0.8333333333rem;
  margin-right: 0.6666666667rem;
  fill: #000000;
}
.slider__dropdown-text {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  font-size: 0.8888888889rem;
}
.slider__dropdown-benefits {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  margin-left: auto;
  margin-right: 0.8333333333rem;
}

@media screen and (max-width: 768px) {
  .slider-control {
    margin-top: 13.3333333333rem;
    align-self: start;
  }
}
.slider-control__icon {
  width: 1.3333333333rem;
  height: 2.2222222222rem;
}
.slider-control__icon-left {
  position: absolute;
  left: -2%;
  top: 51%;
}
@media screen and (max-width: 768px) {
  .slider-control__icon-left {
    top: 30%;
    left: 17%;
  }
}
@media screen and (max-width: 480px) {
  .slider-control__icon-left {
    top: 27%;
    left: 2%;
  }
}
.slider-control__icon-right {
  position: absolute;
  left: 100%;
  top: 51%;
}
@media screen and (max-width: 768px) {
  .slider-control__icon-right {
    top: 30%;
    left: 79%;
  }
}
@media screen and (max-width: 480px) {
  .slider-control__icon-right {
    top: 27%;
    left: 92%;
  }
}

.team {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
  }
}
.team__content--active {
  height: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .team__content--active {
    height: 18.8888888889rem;
    margin-bottom: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .team__content--active {
    margin-bottom: 1.6666666667rem;
  }
}
.team__item {
  text-align: center;
  align-items: center;
  margin-right: 1.1111111111rem;
  max-width: 25.2222222222rem;
}
@media screen and (max-width: 768px) {
  .team__item {
    flex: initial;
    margin-right: 0;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    height: auto;
  }
}
.team__item:last-child {
  margin-right: 0;
}
.team__member {
  margin-bottom: 1.2222222222rem;
}
@media screen and (max-width: 768px) {
  .team__member {
    padding-top: 0.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .team__member {
    max-width: 7rem;
    left: 30%;
    position: relative;
    margin: 0;
  }
}
.team__title {
  color: #292929;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6111111111rem;
}
@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__title {
    margin-bottom: 0;
  }
}
.team__name {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2222222222rem;
  font-size: 1.1111111111rem;
  cursor: pointer;
}
.team__name::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.1666666667rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.3888888889rem 0.25rem 0px 0.25rem;
  border-color: #e01f3c transparent transparent transparent;
  transition: transform 0.3s;
}
.team__item.team__content--active .team__name::after {
  transform: rotate(180deg);
}
.team__content {
  max-width: 12.3333333333rem;
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .team__content {
    max-width: 12.6666666667rem;
    height: 0;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .team__content {
    max-width: 17.5555555556rem;
  }
}
.team__profession {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.0555555556rem;
  color: #000000;
  margin-bottom: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .team__profession {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .team__profession {
    margin-top: 0.4444444444rem;
  }
}
.team__description {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  font-style: normal;
  color: rgb(102, 102, 102);
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
  }
}

.team--version--mobile .team__item {
  margin-bottom: 0.8888888889rem;
}

.modal {
  display: none;
  max-width: 27.7777777778rem;
}
.modal.error-modal .modal__title {
  color: red;
}
.modal.famcybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}
.modal__content {
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: #FFFFFF;
  padding: 1.9444444444rem 3.3333333333rem;
  width: 309px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999;
  opacity: 1;
}
.modal__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333rem;
  margin-bottom: 0.8888888889rem;
}

.products-menu-section {
  background: url("./../../../src/image/products-menu/accordeon-background.png") no-repeat;
  position: relative;
  background-size: cover;
  color: #FFFFFF;
  min-height: 36.2222222222rem;
  height: 100%;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .products-menu-section {
    background: url("./../../../src/image/products-menu/accordeon-background-768.png") top right 16% no-repeat;
    background-size: cover;
  }
}
.products-menu-section::before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: auto;
  z-index: -1;
}
.products-menu-section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: -1;
}

.products-menu-section > .container {
  position: initial;
}

.products-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
}
@media screen and (max-width: 480px) {
  .products-menu {
    width: 100%;
    justify-content: flex-end;
  }
}
.products-menu__item {
  height: 100%;
  display: flex;
}
.products-menu__title {
  display: flex;
  width: 5.6666666667rem;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 480px) {
  .products-menu__title {
    width: 5rem;
  }
}
.products-menu__text {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  transform: rotate(-90deg) translateX(55%);
  white-space: nowrap;
}
.products-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
  z-index: -1;
}
.products-menu__container {
  padding: 30px 80px 44px 38px;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  overflow-y: auto;
  min-width: 34.6666666667rem;
}
@media screen and (max-width: 768px) {
  .products-menu__container {
    min-width: calc(100vw - 30rem);
    padding-right: 25px;
  }
}
@media screen and (max-width: 480px) {
  .products-menu__container {
    min-width: calc(100vw - 8rem);
  }
}

.products-active > .products-menu__content {
  width: 34.6666666667rem;
}
@media screen and (max-width: 768px) {
  .products-active > .products-menu__content {
    width: calc(100vw - 30rem);
  }
}
@media screen and (max-width: 480px) {
  .products-active > .products-menu__content {
    width: calc(100vw - 8rem);
    z-index: 2;
  }
}

@media screen and (max-width: 480px) {
  .products-active {
    position: absolute;
  }
}

.section-map {
  position: relative;
}

.container-map {
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  width: 50%;
}

.footer-inner {
  width: 95%;
  max-width: 50.8333333333rem;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 480px) {
  .footer-inner {
    flex-direction: column;
  }
}

.container-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-reviews::after {
  content: "";
  display: block;
  position: absolute;
  background: #999999;
  width: 1.9444444444rem;
  height: 1.9444444444rem;
  border-radius: 50%;
  left: 4%;
  top: 98%;
}

.container-player {
  padding: 6.8rem 0 9.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-decor {
  position: absolute;
  bottom: -2%;
  right: 4%;
  transform: rotate(-20deg);
}
.player-decor__pentagon {
  position: relative;
  width: 56px;
  border-width: 29px 15px 0;
  border-style: solid;
  border-color: #E01F3D transparent;
}
.player-decor__pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -49px;
  left: -15px;
  border-width: 0 28px 21px;
  border-style: solid;
  border-color: transparent transparent #E01F3D;
}/*# sourceMappingURL=main.css.map */