@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Play", "Alegreya Sans", Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

section {
  height: 100%;
}

.body--active-menu {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper__main {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-radius: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

btn {
  background: transparent;
  border: none;
  transition: 0.3s;
}

.hero {
  background: #F5F5F5;
  background-size: cover;
  height: 100%;
  min-height: 36.2222222222rem;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  background: #999999;
  height: 0.5555555556rem;
  width: 2.5555555556rem;
  right: 23%;
  top: 99.5%;
  transform: rotate(-45deg);
}
@media screen and (max-width: 768px) {
  .hero {
    position: relative;
  }
  .hero:before {
    content: "";
    width: 100%;
    height: 5.1111111111rem;
    min-width: 20rem;
    top: 0;
    background-color: #FFFFFF;
    display: flex;
    position: absolute;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 3.6111111111rem;
  background: url(../../../src/image/main/BeatsSolo3.png) right center/50% auto no-repeat;
}
.hero__title-section {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}
.hero__main-title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 2.8888888889rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
  width: 22.2222222222rem;
  text-shadow: 0 4px 4px rgba(41, 41, 41, 0.25);
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}
.hero__title-text {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  font-size: 1.1666666667rem;
  margin-bottom: 2.1666666667rem;
  font-size: 21px;
  line-height: 25px;
  max-width: 21.2222222222rem;
}
@media screen and (max-width: 768px) {
  .hero__title-text {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-text {
    padding: 0 14%;
    font-size: 1rem;
  }
}
.hero__pic {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header__col {
  padding-top: 0.2777777778rem;
}
.header__phone-number {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #000000;
  transition: 0.5s;
}
.header__phone-number:hover {
  fill: #E01F3D;
  color: #E01F3D;
}

@media screen and (max-width: 768px) {
  .contacts__tel.header__phone-number {
    display: none;
  }
}

.asides {
  display: flex;
}
.asides__item {
  margin-right: 2.2222222222rem;
}
.asides__item:last-child {
  margin-right: 0;
}

.aside {
  display: flex;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  font-style: normal;
}
.aside__icon {
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  margin-right: 0.3888888889rem;
  fill: #292929;
}
.aside__text {
  color: #292929;
  font-size: 0.8888888889rem;
  max-width: 6.3333333333rem;
}

.menu {
  margin: 0 1.6666666667rem;
  padding-top: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__item {
  margin-right: 1.2222222222rem;
  margin-bottom: 0.5555555556rem;
  font-family: "Alegreya Sans";
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 1rem;
  line-height: 1.6666666667rem;
  color: #292929;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.6s;
}
.menu__link:hover {
  color: #E01F3D;
}

@media screen and (max-width: 768px) {
  .menu--768 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu--768 .menu__list {
  flex-direction: column;
}

.menu--768 .menu__item {
  margin-right: 0;
  margin-bottom: 0.2777777778rem;
}

.menu--768 .menu__link {
  font-size: 2rem;
  line-height: 4rem;
}

.contacts__tel {
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.contacts__icon {
  flex-shrink: 0;
}
.contacts__icon-elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.4444444444rem;
  margin-top: 0.4444444444rem;
}
.contacts__text {
  font-style: normal;
  font-size: 1rem;
}

.logo {
  vertical-align: middle;
}
.logo__img {
  margin-right: 0;
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  fill: #E01F3D;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header__col {
  padding-top: 0.2777777778rem;
}
.header__phone-number {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #000000;
  transition: 0.5s;
}
.header__phone-number:hover {
  fill: #E01F3D;
  color: #E01F3D;
}

@media screen and (max-width: 768px) {
  .contacts__tel.header__phone-number {
    display: none;
  }
}

.container {
  max-width: 915px;
  margin: 0 auto;
  width: 95%;
  max-width: 94rem;
  height: 100%;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
}
.btn--theme--red {
  background: #E01F3D;
}
.btn--theme--red:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  text-transform: none;
  color: #E01F3D;
}
.btn--theme--transparent:hover {
  color: #CA1B36;
}

.section__title {
  font-size: 1.3333333333rem;
  font-weight: 700;
  line-height: 1.5555555556rem;
  font-size: 2.6666666667rem;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
}
.section__title--white {
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .section__title--white {
    margin-bottom: 2.2222222222rem;
    font-size: 2.2222222222rem;
    line-height: 2.2222222222rem;
  }
}
.section__title-team {
  margin-bottom: 3.3333333333rem;
}
@media screen and (max-width: 480px) {
  .section__title-reviews {
    margin-bottom: 1.4444444444rem;
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}

.headline {
  text-align: center;
  background-color: #FFFFFF;
}
.headline__title {
  margin-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
    margin-bottom: 0.4444444444rem;
  }
}
.headline__subtitle {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  color: #666666;
  padding: 0 30%;
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    font-size: 1rem;
    line-height: 1.2222222222rem;
    padding: 0 5%;
    margin-bottom: 3rem;
  }
}
.headline::after {
  content: "";
  display: block;
  position: absolute;
  left: 4%;
  top: 128%;
  transform: rotate(-14deg);
  width: 0;
  height: 0;
  border-left: 1.2222222222rem solid transparent;
  border-right: 1.2222222222rem solid transparent;
  border-bottom: 2.1111111111rem solid #E01F3D;
}
.headline__decor {
  position: absolute;
  bottom: -3%;
  right: 4%;
  transform: rotate(-20deg);
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__image {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 0.6666666667rem;
  }
}
.benefit__title {
  font-size: 1.3333333333rem;
  font-weight: 700;
  line-height: 1.5555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5555555556rem;
  }
}
.benefit__desc {
  color: #666666;
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1rem;
  }
}
.benefits__item:before {
  content: url("./../../src/image/section/combined-shape.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.reviews__display {
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    margin-bottom: 1.7777777778rem;
  }
}
.reviews__list {
  position: relative;
  padding: 2.3333333333rem;
  min-height: 19.3333333333rem;
  background-color: #F8FAF9;
  overflow: hidden;
}
.reviews__list:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #cd1f1f;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.61111rem;
}
@media screen and (max-width: 480px) {
  .reviews__list {
    padding: 3.1111111111rem 1.6666666667rem 1.6666666667rem;
  }
}
.reviews__item {
  position: absolute;
  display: flex;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
  top: 2.3333333333rem;
  right: 0;
  bottom: 0;
  left: 2.3333333333rem;
  transition-delay: 0.1s;
}
@media screen and (max-width: 768px) {
  .reviews__item {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.reviews__item.reviews__item--active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}
.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.7777777778rem;
  }
}
.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  flex: 1;
  margin-left: 2.2222222222rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}
.reviews__title {
  font-size: 1.3333333333rem;
  font-weight: 700;
  line-height: 1.5555555556rem;
  margin-bottom: 0.7777777778rem;
}
@media screen and (max-width: 480px) {
  .reviews__title {
    font-size: 1.5rem;
    padding: 0 5.5555555556rem;
  }
}
.reviews__text {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #666666;
  width: 25.5555555556rem;
  margin-bottom: 1.4444444444rem;
}
.reviews__author {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
}
.reviews__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews__switcher::after {
  content: "";
  display: block;
  position: absolute;
  background: #999999;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  left: 4%;
  top: 128%;
}
@media screen and (max-width: 768px) {
  .reviews__switcher::after {
    top: 98.6%;
  }
}
.reviews__switcher-item {
  box-sizing: border-box;
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.reviews__switcher-item.reviews__item--active {
  border-color: #E01F3D;
}
.reviews__switcher-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: flex;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 18%;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  flex: 1;
  margin-right: 1.4444444444rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: 0.7777777778rem;
}
.form__block {
  flex: 1;
  margin-right: 0.8888888889rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem 1.1111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
.form__input--textarea {
  height: 9.3333333333rem;
  resize: none;
  margin-bottom: 0.3333333333rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem 0.4444444444rem;
  }
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input {
    height: 2rem;
  }
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
.form .input-error {
  border: solid 0.1666666667rem red;
}
.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}
.form__buttons {
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .radio {
    align-items: center;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible::before {
  background: url("./../../../src/image/form/checkmark.svg") center center no-repeat;
}
@media screen and (max-width: 480px) {
  .radio--checkbox {
    margin-bottom: 1.4444444444rem;
  }
}
.radio__elem {
  display: none;
  border-radius: 0.2777777778rem;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-right: 0.2777777778rem;
}
.radio__visible::before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio__title--margin--bottom {
  margin-bottom: 2.5555555556rem;
}
@media screen and (max-width: 480px) {
  .radio__title--margin--bottom {
    margin-bottom: 0;
  }
}

.reviews-section {
  position: relative;
  background: url("./../../../src/image/form/formbg.png") center top no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 36.2222222222rem;
  z-index: 3;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.4444444444rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #292929;
}
.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu__item--shadowed .fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--shadowed .fixed-menu__link::before {
  background: #E01F3D;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F5F5F5;
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}
.footer__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #000000;
}
@media screen and (max-width: 480px) {
  .footer__text {
    margin-bottom: 0.6666666667rem;
  }
}
.footer__phone-number {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  color: #000000;
}
@media screen and (max-width: 480px) {
  .footer__phone-number {
    justify-content: center;
    margin-bottom: 1.1111111111rem;
  }
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__contacts {
  padding: 1.1111111111rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.16667rem;
  font-style: normal;
}

.socials {
  cursor: pointer;
}
.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.socials__link {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #666666;
}
.socials__link:hover {
  fill: #292929;
}

.team {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
  }
}
.team__content--active {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .team__content--active {
    height: 340px;
    margin-bottom: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .team__content--active {
    margin-bottom: 1.6666666667rem;
  }
}
.team__item {
  text-align: center;
  align-items: center;
  margin-right: 1.1111111111rem;
  max-width: 25.2222222222rem;
}
@media screen and (max-width: 768px) {
  .team__item {
    flex: initial;
    margin-right: 0;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    height: auto;
  }
}
.team__item:last-child {
  margin-right: 0;
}
.team__member {
  margin-bottom: 1.2222222222rem;
}
.team__title {
  color: #292929;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.4444444444rem;
}
@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__title {
    margin-bottom: 0;
  }
}
.team__name {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  font-size: 1.1111111111rem;
  cursor: pointer;
}
.team__name::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.1666666667rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.3888888889rem 0.25rem 0px 0.25rem;
  border-color: #e01f3c transparent transparent transparent;
}
.team__content {
  max-width: 11.1111111111rem;
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .team__content {
    height: 0;
    position: relative;
  }
}
.team__profession {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
  margin-bottom: 0.2222222222rem;
}
.team__description {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1rem;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--desktop .team__content {
  top: 100%;
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
  }
}

.team--version--mobile .team__item {
  margin-bottom: 0.8888888889rem;
}

.section-map {
  position: relative;
}

.container-map {
  overflow: hidden;
  height: 100%;
}

.map__icon {
  width: 1487px;
  height: 878px;
  display: block;
}

.footer-inner {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.container-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}/*# sourceMappingURL=main.css.map */